---
layout: default
title: Geoinquietos
permalink: /
---

<style>
  #group-links{
    float: left;
    width: 100%;
  }
  #group-links ul{
    margin: 0 5px 25px 0;
  }
  #group-links ul li{
    display: inline;
    list-style-type: circle;
  }
  #map{
    height:350px;
    width: 100%;
  }
  #map_wrapper{
    float:left;
  }

</style>

<div class="home">

<h1>Bienvenido</h1>

<p>Esta web recopila información básica sobre los diferentes grupos de
  geoinquietos existentes actualmente así como algunos de sus miembros.</p>

<p>Geoinquietos no son más que grupos informales que se reúnen para conversar
  y aprender sobre cualquier tema relacionado con las ciencias de la tierra.
  No hay (todavía) una estructura formal por lo que cada grupo se organiza a
  su manera, aunque hay ciertas características comunes como son disponer de
  un foro de discusión, generalmente una lista de correo, y una cuenta en
  twitter. Puedes consultar más información en
  <a href="http://geoinquietosmadrid.github.io/geoinquietos-y-osgeoes/#/">
    esta presentación</a>.</p>

<p> Si estás interesado en crear un grupo nuevo suscríbete a esta
  <a href="http://lists.osgeo.org/mailman/listinfo/geoinquietos-es">lista de
  correo</a>, preséntate y estaremos encantados de guiarte.</p>

<h2>Grupos</h2>

<div id="group-links">
  <ul>
    {% for group in site.groups %}
      <li>
          <a href="{{ site.baseurl }}/grupos/{{ group.group_id }}">
            {{ group.title | replace: "Geoinquietos ", "" }}
          </a> {% unless forloop.last %}·{% endunless %}
      </li>
    {% endfor %}
  </ul>
</div>

<div class="map_wrapper">
  <div id="map"></div>
</div>

</div>

{% include maplibre.html %}

<script>
  var map = new maplibregl.Map({
    container: 'map',
    interactive: false,
    style: "{{site.maplibre.style}}", // stylesheet location
    center: [{{ site.maplibre.center.lon }}, {{ site.maplibre.center.lat }}], // starting position [lng, lat]
    zoom: {{ site.maplibre.zoom }}// starting zoom
  });

  map.on('load',function(){
  // Add groups source
    map.addSource('groups', GROUPS_SOURCE);
    // Add a groups layer
    map.addLayer(GROUPS_POINT_LAYER);
    // Add a groups layer
    map.addLayer(GROUPS_LABEL_LAYER);
  })
  </script>