---
layout: default
---


<style>
  #map{
    width:100%;
    height:200px;
    margin-bottom: 20px;
  }
  #group-links{
    float: left;
  }
</style>

<div class="post">

  <header class="post-header">
    <div class="fixme">
      <p>
        <a href="https://github.com/geoinquietos-org/geoinquietos-org.github.io/edit/master/_groups/{{page.group_id}}.md">Editar en Github</a></p>
    </div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    <div class="contact-details">
      <div id="map"></div>

      <img id="avatar" src="" />

      <ul>
        {% if page.mailing-list %}<li><a href="{{page.mailing-list}}">Lista de correo</a></li>{% endif %}
{% include details.html %}

        <li>Contactos:<ul>
          {% for contact in site.contacts %}
            {% for cgroup in contact.groups %}
              {% if page.group_id == cgroup%}
              <li><a href="{{site.baseurl}}/contactos/{{contact.contact_id}}">{{contact.name}}</a>
              </li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul></li>
      </ul>
    </div>

    {{ content }}

    <!-- links to site post entries -->
    <h2 id="content-title" style="display:none;">Noticias</h2>
    <ul>
    {% for post in site.posts %}
      {% for category in post.categories %}
        {% if page.group_id == category %}
          <li class="post-list">
            <a href="{{ post.url | prepend: site.baseurl }}" class="">
              {{ post.date | date: "%d-%m-%Y" }} - {{ post.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>

  </article>

</div>
{% include avatar_js.html %}
{% include cartodb_js.html %}
<script type="text/javascript">
  $(document).ready(function(){

    if ($('.post-list').length > 0){
      $('#content-title').show();
    }


    var map = L.map('map', {
      zoomControl: false,
      center: [{{page.latitude}}, {{page.longitude}}],
      zoom: {{site.cartodb.group_zoom}}
    });

    L.tileLayer('http://{s}.basemaps.cartocdn.com/dark_nolabels/{z}/{x}/{y}.png').addTo(map);

    cartodb.createLayer(map, {
      https: true,
      user_name: '{{site.cartodb.account}}',
      type: 'cartodb',
      sublayers: [{
        sql: "{{site.cartodb.sql}}",
        cartocss: $('#cartoCSS').html()
      }]
    })
    .addTo(map)
    .done(function(){
      map.attributionControl._attributions = {};
      map.attributionControl.addAttribution('<a href="http://www.openstreetmap.org/copyright">OSM</a> | <a href="http://geoinquietos.org">Geoinquietos</a>');

    });
  });
</script>
